# Server
SERVER_PORT=your_value_here

ENVIRONMENT=your_value_here
DATABASE_URL=your_value_here

# AWS / Backblaze
AWS_REGION=your_value_here
USE_IAM_ROLE=your_value_here
AWS_ACCESS_KEY_ID=your_value_here
AWS_SECRET_ACCESS_KEY=your_value_here
AWS_ENDPOINT=your_value_here
AWS_ENDPOINT_EXTERNAL=your_value_here
S3_BUCKET_NAME=your_value_here

# JWT
JWT_ACCESS_SECRET=your_value_here
JWT_REFRESH_SECRET=your_value_here
JWT_ACCESS_EXPIRY=your_value_here
JWT_REFRESH_EXPIRY=your_value_here
JWT_ISSUER=your_value_here

# Storage
PRESIGNED_URL_EXPIRY=your_value_here
MAX_FILE_SIZE=your_value_here